.card {
  max-width: 650px;
  margin: auto;
  margin-top: 10%;
  -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  background-color: white;
}

.logo{
    padding-top: 15px;
    padding-left: 13px;
    padding-bottom: 10px;
}

.buttons{
    display: flex;
    justify-content: center;
}